div {height: 70px;
background-color: rgb(0, 0, 0);
}
#one {color: blue;
font-size: x-large;
text-decoration: none;}
#two {color: aqua;}
#three {color: aqua;}
#four {color: aqua;}
#five {color: aqua;}
a {margin-right: 132px;}