div {height: 70px;
background-color: rgb(0, 0, 0);
}
#one {color: blue;
font-size: x-large;
text-decoration: none;margin-right: 432px;}
#two {color: aqua;
margin-right: 28px;}
#three {color: aqua;
margin-right: 28px;}
#four {color: aqua;
margin-right: 28px;}
#five {color: aqua;
margin-right: 28px;}
/* a {margin-right: 132px;} */